<!-- tutorial & documentation available here:
https://docs.adyen.com/checkout/drop-in-web/tutorial-node-js -->

<div class='main-container'>
  <div class="main">
    <h1>Welcome to the Adyen Drop-In Demo!</h1>
    <br />
    <img src="images/adyendropin.gif" class="demo">
    <div class="info">
    <h2>So what is Drop-in?</h2>
    <br />
    <p>Drop-in is an all-in-one UI solution for accepting payments using a single front-end implementation built with <a href="https://github.com/Adyen/adyen-node-api-library">Adyen's API library</a>. Drop-in is perfect for creating a quick, seamless checkout process for your shop so you can focus on what matters the most, creating great customer experiences!</p>
    <p>This demo is based on <a href="https://github.com/adyen-examples/adyen-node-online-payments">this example </a> and follows the <a href="https://docs.adyen.com/checkout/drop-in-web/tutorial-node-js">Node.js + Express tutorial </a>outlined in the official
      <a href="https://docs.adyen.com/checkout/drop-in-web">  Drop-In Integration Guide</a>.
      </p>
  <p>In this example, here's a shopping cart from a customer ready to place an order. To experience the full Drop-In payment process, please click "Proceed to Checkout" below.</p>
  <br />
</div>
</div>
  <section class="cart">
    <h2>Sample Cart</h2>
    <div class="order-summary">
      <ul class="order-summary-list">
        <li class="order-summary-list-list-item">
          <img src="/images/record.svg" class="order-summary-list-list-item-image" alt="">
          <p class="order-summary-list-list-item-title">Vinyl Record</p>
          <p class="order-summary-list-list-item-price">5.00</p>
        </li>
        <li class="order-summary-list-list-item">
          <img src="/images/cactus.png" class="order-summary-list-list-item-image" alt="">
          <p class="order-summary-list-list-item-title">Cactus</p>
          <p class="order-summary-list-list-item-price">5.00</p>
        </li>
        <li class="order-summary-list-list-item">
          <img src="/images/sneakers.jpg" class="order-summary-list-list-item-image" alt="">
          <p class="order-summary-list-list-item-title">Sneakers</p>
          <p class="order-summary-list-list-item-price">5.00</p>
        </li>
      </ul>
    </div>
    <div class="cart-footer"><span class="cart-footer-label">Total:</span><span
        class="cart-footer-amount">15.00</span>
      <a href="/checkout/dropin">
        <p class="button">Proceed to Checkout</p>
      </a>
      <br />
      <br />
      <br />
    </div>
    <p class="footer">Ready to add Drop-in or another Adyen solution to your shop? Please view the guide to <a href="https://docs.adyen.com/user-management/get-started-with-adyen">Getting Started with Adyen</a>.</p>
      <p>To learn more about other available client-side integration solutions, check out <a href="https://docs.adyen.com/checkout">online
          payments.</a></p>
    <br />
    <br />
  </section>
      <!-- <a href="/preview?type=dropin">
          <p class="button">Click here to view Drop-in Demo</p>
      </a> -->
</div>
