<title>Success</title>

<div class="status-container">
  <div class="status">
    <img src="/images/success.svg" class="status-image" alt="">
    <br />
    <p class="status-message">Thank you! Your order has been successfully placed.</p>
    <a class="button" href="/" to="#/">Return Home</a>
  </div>
</div>
